* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
  scroll-behavior: smooth;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

a.btn {
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #2196f3;
  font-weight: bold;
  text-align: center;
}

/* main */

main {
  padding-top: 60px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 125px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}

section h3.title {
  color: #414a4f;
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 35px;
  text-align: center;
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 10px;
  line-height: 2;
  text-align: justify;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 20px 20px;
  background-color: #2196f3;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 2px solid #dd6600;
  box-shadow: 0 1.5rem 3rem rgb(200 170 100 / 50%);
}

.logo {
  display: flex;
  align-items: center;
}

.header h2 {
  font-family: "Quicksand", sans-serif;
}

.header nav {
  display: flex;
}

.header nav li {
  margin: 0 15px;
}

.header nav li:first-child {
  margin-left: 0;
}

.header nav li:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
  .header {
    padding: 20px 20px;
  }
}

@media (max-width: 700px) {
  .header {
    font-size: 16px;
  }
  .header h2 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px 10px;
  }
  main {
    padding-top: 60px;
  }
  .header h2 {
    display: none;
  }
}

/* intro section */

.intro {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.intro .background-image {
  background-image: url("/img/personality-test.webp");
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #2196f3;
  z-index: -1;
}

.intro .background-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414a4f;
  opacity: 0.75;
}

.intro h1 {
  font: bold 48px "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.intro a.btn {
  padding: 20px 46px;
  border: 2px solid #dd6600;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

@media (max-width: 800px) {
  .intro {
    min-height: 600px;
  }

  .intro h1 {
    font-size: 32px;
  }

  .intro a.btn {
    padding: 12px 32px;
  }
}

@media (max-width: 480px) {
  .intro {
    min-height: 500px;
  }

  .intro h1 {
    font-size: 24px;
  }

  .intro a.btn {
    padding: 10px 28px;
  }
}

/* quiz description section */

.quiz-description {
  background-color: #f7f7f7;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
}

.quiz-description a {
  font-weight: bold;
  color: #2196f3;
}

/* quiz section */

.quiz {
  background-color: white;
  font-family: "Quicksand", sans-serif;
}

.quiz .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quiz .question {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  margin: 32px;
}

.quiz .question .title {
  max-width: 800px;
  margin-bottom: 32px;
}

.answers {
  margin-top: 16px;
  list-style: none;
}

.answer {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.answer label {
  cursor: pointer;
}

.answer input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  left: 0;
  margin: auto;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.answer:hover input ~ .checkmark {
  background-color: #ccc;
}

.answer input:checked ~ .checkmark {
  background-color: #dd6600;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.answer input:checked ~ .checkmark:after {
  display: block;
}

.answer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.quiz .btn {
  align-self: center;
  padding: 16px 36px;
  color: #fff;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #dd6600;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.quiz .btn:disabled {
  color: #bbb;
  cursor: not-allowed;
}

@media (max-width: 800px) {
  .quiz {
    min-height: 600px;
  }

  .quiz .title {
    font-size: 28px;
  }

  .answer {
    font-size: 20px;
  }

  .quiz .btn {
    padding: 10px 28px;
  }
}

@media (max-width: 480px) {
  .quiz {
    min-height: 500px;
  }

  .quiz .title {
    font-size: 20px;
  }

  .answer {
    font-size: 16px;
  }

  .quiz .btn {
    padding: 8px 20px;
  }
}

/* Quiz result section */

.quiz-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  font-family: "Quicksand", sans-serif;
}

.personality-type {
  font-size: 24px;
  margin-bottom: 1em;
}

.personality-type span {
  font-weight: bold;
  color: #dd6600;
}

.explanation {
  text-align: justify;
  font-size: 20px;
}

@media (max-width: 800px) {
  .personality-type {
    font-size: 22px;
  }
  .explanation {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .personality-type {
    font-size: 18px;
  }
  .explanation {
    font-size: 16px;
  }
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 60px 0;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
}

footer ul li {
  margin: 0 8px;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer p a {
  color: #fff;
}

@media (max-width: 700px) {
  footer {
    padding: 80px 15px;
  }
}

/* spinner */

.spinner-container {
  margin: 10px;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #2196f3;
  border-radius: 50%;
  border-top-color: #dd6600;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
